<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Banning User</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
    <div class="container">
        <h2>Banning User</h2>
        <div class="form-container">
            <form id="banUserForm">
                <div class="form-group">
                    <label for="user_id">User ID:</label>
                    <input type="text" id="user_id" name="user_id" placeholder="Enter user ID to ban">
                </div>
                
                <button type="submit">Ban User</button>
            </form>
            <p id="message"></p>
        </div>
    </div>
</body>
<script>
    document.getElementById('banUserForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const user_id = document.getElementById('user_id').value;
        const message = document.getElementById('message');

        fetch('http://127.0.0.1:5001/ban_user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ user_id })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                message.style.color = 'green';
                message.textContent = 'User successfully banned.';
            } else {
                message.style.color = 'red';
                message.textContent = 'Failed to ban user: ' + data.message;
            }
        })
        .catch(error => {
            message.style.color = 'red';
            message.textContent = 'An error occurred. Please try again later.';
        });
    });
</script>
</html>
